 
	*{
		margin:0;
		padding:0;
}
header{
	
	width:100%;
	float:left;
	padding:20px 0 20px 0;
	background:black;
	font-size:30px;
}

nav ul li {
	list-style:none;
	float:left;
	
}
nav ul li a{
	text-decoration:none;
	display:block;
	float:left;
	padding:5px 15px;
	color:gray;
}
nav ul li a:hover{

				background-color:white;
}
nav ul li{ 
			margin-left:30px;
}


				

		